h1, p, video, div, a {  
  font-family: Courier;
  font-size: 15px;
  margin-left: 100;
  margin-right: 30;
  padding: 0px 400px 15px;
  /*border: dashed red;*/
}  

p, a {
  font-size: 12px;
}

a:link {color:blue;}
a:visited {color: blue;}
a:hover {color:#blue;}
a:active {color:#blue;}
a:hover {
font-style:italic;
color: blue;
}
a:active {
  background-color: yellow;
  color: blue;
}