a img {filter: grayscale();}
a:hover img {filter:/*grayscale(100%)*/ contrast(100%) brightness(120%);}

h1, p, video, img, a {  
font-family: Georgia, serif;
font-size: 14px;
padding: 5px 2px 0px 5px;
font-kerning: none;
}  


